<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cidade dos Sonhos</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>

  <div>

    <div id="header">

      <div id="menu">
        <nav>
          <a href="#">
            <%= image_tag "menu_qual_seu_sonho.png", alt: t(:qual_seu_sonho), title: t(:qual_seu_sonho) %>
          </a>

          <a href="#">
            <%= image_tag "menu_como_realizar_seu_sonho.png", alt: t(:como_realizar_seu_sonho), title: t(:como_realizar_seu_sonho) %>
          </a>
        </nav>
      </div>
    </div>

    <div id="conteudo">
      <%= yield %>
    </div>

  </div>

</body>
</html>
